*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    //width: 100%;
  //  height: 1000%;
//    background: #42455a;
 width: 100%;
    height: 150%;
background: linear-gradient(to right,#ffe5cc,white );//#9C27B0 #8ecdff
}

.header
{
    background: rgba(0,0,100,0.4);
    height: 100vh;
}



.menu ul{
    display: inline-flex;
    margin: 0px;
}
.menu ul li{
    list-style: none;
    margin: 10 20px;
    color: #b2b1b1;
    cursor: pointer;
}
.logo img{
    width: 50px;
    margin-top: -7px;
    margin-right: 250px;
}
.active{
    color: Yellow !important; 
}

.banner{
    width: 80%;
    height: 70%;
    top: 25%;
    left: 130px;
    position: absolute;
    color: black;
}
.app-text{
    width: 50%;
    float: left;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 40px;
}

.app-text p{
    width: 650px;
    font-size: 15px;
    margin: 30px 0 30px 40px;
    line-height: 25px;
    color: #91919;
}
.app-picture{
    width: 50%;
    float: right;
}
.app-picture img{
    width: 80%;
    margin-top: 50px;
 margin-left: 48px;
    padding-left: 50px;
}
.play-btn{
    margin-left: 40px;
    display: inline-flex;
}
.play-btn-inner{
    height: 50px;
    width: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#fd00da,#19d7f8);
    background-origin: border-box;
    background-clip: content-box,border-box;
    text-align: center;
}
.play-btn-inner .fa{
    padding: 18px 0;
    font-size: 13px;
    cursor: pointer;
}
.small{
    margin: auto 20px;
    cursor: pointer;
    font-size: 12px;
    color: #19dafa;
    letter-spacing: 3px;
}
.quick-links{
    left: 0px;
    bottom: -850px;
    position: relative;
    background: linear-gradient(to right, #db1bf6,#19d7f8);
}
.quick-links ul{
    display: inline-flex;
    margin: 10px auto;
    text-align: center;
}
.quick-links ul li{
    list-style: none;
    margin: 0 50px;
    cursor: pointer;
margin-left: 450px;
}
.quick-links ul li .fa{
    font-size: 25px;
    color: #fff;
}
.quick-links ul li p{
    margin-top: 15px;
    font-size: 10px;
    color: #fff;
}
.social-icons{
    right: 2px;
    bottom: 0px;
    position: absolute;
}
.social-icons ul li{
    list-style: none;
    margin-top: 15px;
    text-align: center;
}
.social-icons ul li a{
    color: #999;
    border-radius: 25%;
    border: 2px  solid:#999;
    padding: 0px;
    display: block;
}
.symptoms img{
    width: 50%;
    margin-top: -100px;

    padding-left: 50px;
}
.sym{
 margin-top: 200px;

 margin-left: 200px;
}

.a:hover{
    color: red;
}

.a:visited{
    color: rgb(162, 0, 255);
}






